configuration {
        font: "Hack 12";
        show-icons: true;
        terminal: "alacritty";
        matching: "fuzzy";
        threads: 0;
        display-run: "run";
        display-ssh: "ssh";
}

@import "theme"
