#!/bin/sh

# PATH
## Set PATH so it includes user's private bin, cargos bin and dotnet if they exist
[ -d "$HOME/bin" ] && export PATH="$HOME/bin:$PATH"
[ -d "$HOME/.local/bin" ] && export PATH="$HOME/.local/bin:$PATH"
[ -d "$HOME/.cargo/bin" ] && export PATH="$HOME/.cargo/bin:$PATH"
[ -d "$HOME/dotnet" ] && export PATH="$HOME/dotnet:$PATH" && export DOTNET_ROOT="$HOME/dotnet"
[ -d "$HOME/.dotnet/tools" ] && export PATH="$HOME/.dotnet/tools:$PATH"
[ -d "$HOME/pico/pico-sdk" ] && export PICO_SDK_PATH="$HOME/pico/pico-sdk"

# Colors for BSD tools
export CLICOLOR=1

# Editor
## Some applications expect the full path
if [ -x "$(command -v nvim)" ]; then
    VISUAL="$(command -v nvim)"
else
    VISUAL="$(command -v nano)"
fi
export VISUAL
## Some applications only accept EDITOR
EDITOR="$(command -v nano)"
export EDITOR

# C/C++
if [ -x "$(command -v clang)" ]; then
    export CC="clang"
    export CXX="clang++"
fi

# DOTNET
export DOTNET_CLI_TELEMETRY_OPTOUT=1
export DOTNET_NOLOGO=1

# RUST
export RUST_BACKTRACE=1
